.Header { grid-area: header; }
.Menu { grid-area: menu; }
.Main { grid-area: main; }
.Right { grid-area: right; }
.Center { grid-area: center; }
.Left { grid-area: left; }
.Footer { grid-area: footer; }

.grid-container {
	display: grid;
	grid-template-areas:
		'header header header menu menu menu'
    	'main main main main main main'
    	'left left center center right right'
    	'footer footer footer footer footer footer';
	grid-gap: 1px;
	padding: 0px;
	margin-left: 45px;
	margin-right: 45px;
}
.grid-container > .Header {
	background-image: url('header_bg.png');
	background-size: 550px 400px;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.logo {
	float: left;
	margin-left: 50px;
}
.grid-container > .Menu {
	background-image: url('header_bg.png');
	background-size: 1100px 400px;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
	text-align: right;
	padding: 20px 0;
	font-size: 21px;
}
.Home {
	text-decoration: none;
	margin-top: 0px;
	margin-right: 40px;
	text-align: right;
	color: black;
}
.Autos {
	text-decoration: none;
	margin-top: 0px;
	margin-right: 40px;
	text-align: right;
	color: black;
}
.Kleding {
	text-decoration: none;
	margin-top: 0px;
	margin-right: 40px;
	text-align: right;
	color: black;
}
.Blog {
	text-decoration: none;
	margin-top: 0px;
	margin-right: 40px;
	text-align: right;
	color: black;
}
.Gallery {
	text-decoration: none;
	margin-top: 0px;
	margin-right: 40px;
	text-align: right;
	color: black;
}
.Shortcodes {
	text-decoration: none;
	margin-top: 0px;
	margin-right: 40px;
	text-align: right;
	color: black;
}
.Contact {
	text-decoration: none;
	margin-top: 0px;
	margin-right: 57px;
	text-align: right;
	color: black;
}
.grid-container > .Main {
	background-image: url('banner_bg.png');
	background-size: 1100px 550px;
	font-family: 'Lato', sans-serif;
	text-align: left;
	padding: 20px 0;
	font-size: 18px;
	color: white;
}
.banner {
	float: left;
	margin-left: 60px;
	margin-right: 25px;
	margin-bottom: 60px;
}
.banner2 {
	margin-right: 25px;
}
.grid-container > .Right {
	font-family: 'Lato', sans-serif;
	text-align: left;
	padding: 20px 0;
	font-size: 15px;
	margin-left: 80px;
	margin-right: 80px;
}
.grid-container > .Center {
	font-family: 'Lato', sans-serif;
	text-align: left;
	padding: 20px 0;
	font-size: 15px;
	margin-left: 80px;
	margin-right: 80px;
}
.grid-container > .Left {
	font-family: 'Lato', sans-serif;
	text-align: left;
	padding: 20px 0;
	font-size: 15px;
	margin-left: 80px;
	margin-right: 80px;
}
.link {
	text-decoration: none;
}
.grid-container > .Footer {
	background-image: url('footer_bg.png');
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
	color: white;
}